.unittype-main .nav-wrapper {
    height: max-content;
}

.unittype-menus {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 10vh;
}

.unittype-buttons {
    color: white !important;
}

.unittype-video-buttons {
    transform: translateX(-10vh) translateY(-5vh);
}

.unittype-links-wrapper {
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.unittype-links-wrapper button {
    width: max-content;
    padding: 0;
}

.main-buttons, .main-buttons img {
    height: 60vh;
}

.unittype-video-buttons, .unittype-video-buttons img {
    height: 20vh;
}

.details-link {
    opacity: 0;
    height: 75vh;
    width: 50vw;
}

.virtualtour-link {
    opacity: 0;
    height: 7.5vh;
    width: 50vw;
}

.virtual-tour-wrapper {
    height: 100vh;
    width: 100vw;
}

.video-home {
    width: 100%;
    display: flex;
}

.video-home .video-wrapper {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bottom-smarthome-menu {
    margin: 0;
}

.smarthome-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.smarthome-menu img {
    width: 17.5vw;
}