.unittype-main .nav-wrapper {
    height: max-content;
}

.unittype-menus {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.cropped-img-border {
    position: absolute;
    background: linear-gradient(
      60deg,
      #5d00ff,
      #f2c85b,
      #fba465,
      #f2c85b
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: spin 3s linear infinite;
    height: 49vh !important;
    width: 100%;
}

@keyframes spin {
    from { transform: scale3d(2,2,1) rotateZ(0deg);  }
    to { transform: scale3d(2,2,1) rotateZ(360deg); }
}
  

.border-studio {
    height: 43vh !important;
    width: 100%;
    position: absolute;
    z-index: 1;
    mask: url(../assets/misc/unittype/studiocropped.png) center/contain no-repeat;
}

.border-2br {
    height: 43vh !important;
    width: 100%;
    position: absolute;
    z-index: 1;
    mask: url(../assets/misc/unittype/2brcropped.png) center/contain no-repeat;
}

.cropped-img {
    position: absolute;
    height: 40vh !important;
    object-fit: contain;
    z-index: 2;
}

.video-text {
    height: 3vh !important;
    object-fit: contain;
}

.video-button {
    height: 20vh;
}

.video-button img {
    object-fit: contain;
}

.studio-video-button-cropped, .twobr-video-button-cropped {
    position: absolute;
    bottom: 8.5vh;
    left: 17.5vw;
    color: white !important; 
    mask: url(../assets/misc/unittype/videotext.png) center/contain no-repeat;
}

.unittype-gap {
    height: 10vh;
}

.unittype-buttons {
    color: white !important;
}

.unittype-video-buttons {
    transform: translateX(-5vw) translateY(-3vh);
}

.unittype-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.unittype-links-wrapper button {
    width: max-content;
    padding: 0;
}

.main-buttons, .main-buttons img {
    height: 50vh;
}

.unittype-video-buttons, .unittype-video-buttons img {
    height: 15.5vh;
    width: 45vw;
}

.details-link {
    opacity: 0;
    height: 75vh;
    width: 50vw;
}

.virtualtour-link {
    opacity: 0;
    height: 7.5vh;
    width: 50vw;
}

.virtual-tour-wrapper {
    height: 100vh;
    width: 100vw;
}

.video-home {
    width: 100%;
    display: flex;
}

.video-home .video-wrapper {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.bottom-smarthome-menu {
    margin: 0;
}

.smarthome-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.smarthome-menu img {
    width: 17.5vw;
}