.internal-menu {
    width: 22.5vw;
    height: 100%;
    position: absolute;
    right: 0;
}

.internal-links-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 1vh;
}

.internal-link {
    /* opacity: 0; */
    height: 10vh;
    width: 100%;
}

.internal-link button:active, .internal-link button:hover{
    color: white;
    background-color: transparent;
}

.helpnbeauty-link button {
    position: absolute;
    top: 33.25vh;
    right: 12.5vw;
    width: 10vw;
    height: 3vh;
    background-color: transparent;
}

.clubhouse-link button {
    position: absolute;
    top: 61.5vh;
    right: 12.5vw;
    width: 10vw;
    height: 3vh;
    background-color: transparent;
}

.galleryoftokyo-link button {
    position: absolute;
    bottom: 0;
    width: 17.5vw;
    height: 15vh;
    background-color: transparent;
}