.external-menus {
    margin: 0 4.5vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.external-left-group-menus, .external-right-group-menus {
    display: flex;
}

.external-menu-bullet, .external-menu-bullet a, .external-menu-bullet img {
    width: 20vh;
    height: 20vh;
}

.external-buttons {
    mask: url(../assets/externalbullets/1.png) center/contain no-repeat;
    width: calc(20vh + 10px);
    height: calc(20vh + 10px);
}

.prasmul, .prasmul > img {
    width: 23.5vh;
    height: 23.5vh;
}

.tophanging-menu {
    position: absolute;
    top: 0;
    left: 42.5%;
    right: 57.5%;
}

.tophanging-menu, .tophanging-menu a, .tophanging-menu svg {
    width: 35vh;
    height: 35vh;
    opacity: 0;
}

.three-int-menus-column {
    margin-top: -8.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.three-menus-column {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.two-menus-column {
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.bottom-external-menu {
    margin: 0;
    margin-bottom: 1rem;
}

.external .nav-wrapper {
    height: max-content;
}