.external-menus {
    margin: 0 4.5vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.external-left-group-menus, .external-right-group-menus {
    display: flex;
}

.external-menu-bullet, .external-menu-bullet a, .external-menu-bullet img {
    width: 20vh;
    height: 20vh;
}

.external-buttons {
    /* mask: url(../assets/externalbullets/1.png) center/contain no-repeat; */
    width: calc(20vh + 10px);
    height: calc(20vh + 10px);
    color: transparent !important;
}

.prasmul, .prasmul > img {
    width: 23.5vh;
    height: 23.5vh;
}

.tophanging-menu {
    position: absolute;
    top: 4vh;
    left: 43vw;
}

.main-circle-button {
    border-radius: 50% !important;
}

.main-circle {
    color: transparent;
}

.tophanging-menu, .tophanging-menu a, .tophanging-menu svg {
    width: 28.5vh;
    height: 28.5vh;
}

.three-int-menus-column {
    margin-top: -0.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1rem;
}

.three-menus-column {
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1rem;
}

.two-menus-column {
    margin-top: 12.5vh;
    display: flex;
    flex-direction: column;
    height: 100%;
    row-gap: 1rem;
}

.bottom-external-menu {
    margin: 0;
    margin-bottom: 1rem;
}

.external .nav-wrapper {
    height: max-content;
}

/* EFFECT  */

.click-effect {
    background: #1C3659;
    /* transition: transform 1s ease-in-out; */
}

.click-effect::after, .click-effect::before {
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #1C3659;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    /* transition: transform 1s ease-in-out; */
    mask: url(../assets/externalbullets/1.png) center/contain no-repeat;
}

.click-effect:focus {
    animation: threedmain 1s ease-in-out;
    /* transform: translate(-12px, -12px); */
}

.click-effect:focus::after {
    /* transform: translate(6px, 6px); */
    animation: threedafter 1s ease-in-out;
}

.click-effect:focus::before {
    /* transform: translate(12px, 12px); */
    animation: threedbefore 1s ease-in-out;
}

@keyframes threedmain {
    50% {
        transform: translate(-12px, -12px);
    }
}
@keyframes threedafter {
    50% {
        transform: translate(6px, 6px);
    }
}
@keyframes threedbefore {
    50% {
        transform: translate(12px, 12px);
    }
}