html, body, div#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a, a:hover {
  text-decoration: none;
}

.homebtn-icon {
  width: 7.5vh;
  height: 7.5vh;
  opacity: 0.95;
}

.homebtn-icon button {
  mask: url(../src/assets/misc/homebtnwhite.png) center/contain no-repeat;
  width: 8vh;
  height: 8vh;
}

.homebtn-icon:hover {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.05, 1.05);
}

.leftrightbtn-wrapper {
  display: flex;
  column-gap: 0.5rem;
  margin: 1rem;
}

.left-icon, .right-icon {
  width: 5vh;
  height: 5vh;
  opacity: 0.95;
}

.left-icon:hover, .right-icon:hover, .back-icon:hover, .next-icon:hover {
  opacity: 1;
  transform: scale(1.05, 1.05);
}

.fullpage-image-wrapper {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: contain;
  z-index: -1;
}

.fullpage-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.page-contents {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* MENUS */
.topbottom-menu-wrapper {
  display: flex;
  flex-direction: column;
}

.top-menu, .bottom-menu {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.topright-menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.bottom-menu {
  height: 100%;
  align-items: flex-end;
}

.bottomright-menu {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.homebtn-wrapper {
  margin: 1rem;
}

/* Shining Effect */

#logo {
  overflow: hidden;
}
#logo img,
#logo button {
  width: 100%;
}
#logo:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.35) 77%,
    rgba(255, 255, 255, 0.75) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
@keyframes slide {
  0% {
    left: -50vw;
    top: 0;
  }
  /* 50% {
    left: 50%;
    top: 0;
  } */
  100% {
    left: 150vw;
    top: 0;
  }
}

/* SLOWER LOGO */

#logo-slower {
  overflow: hidden;
}
#logo-slower img,
#logo-slower button {
  width: 100%;
}
#logo-slower:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.35) 77%,
    rgba(255, 255, 255, 0.75) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
@keyframes slide {
  0% {
    left: -50vw;
    top: 0;
  }
  /* 50% {
    left: 50%;
    top: 0;
  } */
  100% {
    left: 75vw;
    top: 0;
  }
}

/* softer LOGO */

#logo-softer {
  overflow: hidden;
}
#logo-softer img,
#logo-softer button {
  width: 100%;
}
#logo-softer:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50vw;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-30deg);
  animation-name: slide;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-delay: 0.3s;
  animation-iteration-count: infinite;
  animation-direction:normal;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.15) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}
@keyframes slide {
  0% {
    left: -50vw;
    top: 0;
  }
  /* 50% {
    left: 50%;
    top: 0;
  } */
  100% {
    left: 75vw;
    top: 0;
  }
}
/* DROP SHADOW */

.shadow {
  --stroke-pos: 4px;
  --stroke-neg: -4px;
  --stroke-color: rgb(193, 255, 78);
  --stroke-color2: rgb(166, 255, 173);

  filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) 
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color2))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color2));
    /* drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) 
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color2))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color2));    */

  animation: rotate 1s infinite alternate-reverse;
}

@keyframes rotate {
  0% {
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color2)) 
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color2))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    /* drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color2)) 
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color2))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color)); */
  }
  /* 50% {
    left: 50%;
    top: 0;
  } */
  50% {
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) 
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color2))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color2))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color))
    /* drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color)) 
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color2))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color2)); */
  }
  100% {
    filter: drop-shadow(var(--stroke-pos) 0 0 var(--stroke-color)) 
    drop-shadow(var(--stroke-neg) 0 var(--stroke-color2))
    drop-shadow(0 var(--stroke-pos) 0 var(--stroke-color))
    drop-shadow(0 var(--stroke-neg) 0 var(--stroke-color2))
    /* drop-shadow(var(--stroke-pos) var(--stroke-pos) 0 var(--stroke-color2)) 
    drop-shadow(var(--stroke-pos) var(--stroke-neg) 0 var(--stroke-color))
    drop-shadow(var(--stroke-neg) var(--stroke-pos) 0 var(--stroke-color2))
    drop-shadow(var(--stroke-neg) var(--stroke-neg) 0 var(--stroke-color)); */
  }
}

/* ROTATE BACKGROUND */

@keyframes bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1500px 0;
  }
}
.header-bg {
  border-radius: 15px; /* outerRadius */ 
  padding: 3px;        /* separation */ 
  animation: bg 10s infinite linear;
  
}